.card-tarefa-botao-concluir:active { 
    max-width: 40px;
    margin: 10px;
}

.card-tarefa-botao-editar{
    max-width: 40px; 
    margin: 10px;
}

.card-tarefa-botao-excluir {
    max-width: 40px;
    margin: 10px;
}

.card-tearfa-texto {
    margin: 10px;
}
